/*CSS On-Hover animations */
.org-img:hover
{
	/* opacity: 0.5; */
	filter: contrast(200%);

}

#video-loop:hover
{
	opacity: 0.8;
}
.anim-btn
{
	animation: anim-pulse 4s infinite ease-in alternate-reverse;
	/* animation-name: anim-pulse; animation-duration: 4s; animation-iteration-count: infinite;
	animation-timing-function: ease-in; animation-direction: alternate; */
	
}

/* Splash Page Setup*/

/* 


@keyframes letter-drop
{
	0%{transform: translateY(0); transform: scale(0.5);}
	50%{transform: translateY(200px); transform: scale(1);}
	100%{transform: translateY(400px); transform: scale(1.5);}
}
 */
/*Socials animations */
.socials:hover
{
	opacity: 0.8;
	transform: scale(1.5);
}
.contact:hover
{
	transform: scale(1.5);
}

/*Service Icons Simple Anims */
.service-icons:hover
{
	background: rgb(255,242,202);
	background: -moz-linear-gradient(0deg, rgba(255,242,202,1) 0%, rgba(233,216,164,1) 25%, rgba(214,194,132,1) 50%, rgba(188,162,87,1) 75%, rgba(170,141,56,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(255,242,202,1) 0%, rgba(233,216,164,1) 25%, rgba(214,194,132,1) 50%, rgba(188,162,87,1) 75%, rgba(170,141,56,1) 100%);
	background: linear-gradient(0deg, rgba(255,242,202,1) 0%, rgba(233,216,164,1) 25%, rgba(214,194,132,1) 50%, rgba(188,162,87,1) 75%, rgba(170,141,56,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff2ca",endColorstr="#aa8d38",GradientType=1); 
}

@keyframes anim-pulse
{
	from
	{
	filter: contrast(50%);
	filter: hue-rotate(270deg);
	opacity: 0.3;
	
	}
	to{
	filter: contrast(200%);
	filter: hue-rotate(0deg);
	opacity: 1;
	
	}
	
}
.anim-btn:hover
{
	transform: scale(1.5);
}
/*CSS Gear animations */
.gear
{
	
	position: absolute;
	z-index: -2;
}
.gear1
{
	position: relative;
	right: 10%;
	width: 35%; height: auto;
	animation-name: rotating-gear; animation-duration: 7s; animation-iteration-count: infinite;
	animation-timing-function: ease-in;  
}
.gear2
{
	position: relative;
	right: 10%;
	margin-top: min(60%);
	margin-top: max(105%);
	width: 25%; height: auto; animation: alternate;
	animation-name: rotating-gear; animation-duration: 4s; animation-iteration-count: infinite;
	animation-timing-function: ease-in;  
	
}
.gear3
{
	position: relative;
	right: 10%;
	margin-top: min(125%);
	margin-top: max(170%);
	width: 35%; height: auto; animation: alternate;
	animation-name: rotating-gear; animation-duration: 7s; animation-iteration-count: infinite;
	animation-timing-function: ease-in;  
	
}

.gear-alt-1
{
	position: relative;
	right: 10%;
	width: 35%; height: auto;
	animation-name: rotating-gear; animation-duration: 6s; animation-iteration-count: infinite;
	animation-timing-function: ease-in;  
}
.gear-alt-2
{
	position: relative;
	right: 10%;
	margin-top: min(50%);
	margin-top: max(95%);
	width: 25%; height: auto; animation: alternate;
	animation-name: rotating-gear; animation-duration: 3s; animation-iteration-count: infinite;
	animation-timing-function: ease-in;  
	
}
.gear-alt-3
{
	position: relative;
	right: 10%;
	margin-top: min(105%);
	margin-top: max(150%);
	width: 35%; height: auto; animation: alternate;
	animation-name: rotating-gear; animation-duration: 6s; animation-iteration-count: infinite;
	animation-timing-function: ease-in;  
	
}
@keyframes rotating-gear
{
	0%{transform: rotate(0);}
	16.67%{transform:  rotate(90deg);}
	33.33%{transform:  rotate(180deg);}
	50%{transform: rotate(360deg)) ;}
	66.67%{transform: rotate(90deg) ;}
	83.33%{transform: rotate(180deg) ;}
	100%{transform: rotate(360deg) ;}
}