body
{
	background: rgb(0,0,0);
	background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(25,25,58,1) 16.67%, rgba(31,31,72,1) 33.33%, rgba(33,33,78,1) 50%, rgba(36,36,84,1) 67%, rgba(44,44,102,1) 87%, rgba(51,51,119,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(25,25,58,1) 16.67%, rgba(31,31,72,1) 33.33%, rgba(33,33,78,1) 50%, rgba(36,36,84,1) 67%, rgba(44,44,102,1) 87%, rgba(51,51,119,1) 100%);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(25,25,58,1) 16.67%, rgba(31,31,72,1) 33.33%, rgba(33,33,78,1) 50%, rgba(36,36,84,1) 67%, rgba(44,44,102,1) 87%, rgba(51,51,119,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#333377",GradientType=1); 
	background:  cover;
}

/*Fonts */
.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/*Regular CSS */
.logo-anim
{
	width: auto;
	height: auto;
}
.logo-letter
{
	width: auto;
	height: 150px;
}
.extra-padding
{
	
	padding-top: 100px;

}

#logo
{
	width: 50%;
	height: 15vh;
}
#link-btn
{
	position: relative;
	padding-top: 1%;
	padding-bottom: 1%;
	margin: auto;
	min-width: 40px;
	max-width: 200px;
	min-height: 15px;
	max-height: 120px;
	border: solid 4px rgb(255,195,1);
	border-radius: 25px;
	
}
#blurb
{
	position: relative;
	margin-top: 0%; 
	margin-bottom: 0%;
	padding-bottom: 0%;
	bottom: 0;
	right: 0;
	width: auto;
	height: auto;
}
#video-loop
{
	position: relative;
	width: 100%;
	height: 55vh;
	right: 0; left: 0; top: 5%;
	padding: 0;
	z-index: 2;
}
.showcase-vid
{
	position: relative;
	padding: 1%;
	width: 100%;
	height: 55vh;
}
.font-links
{
	font-size: 14pt;
	line-height: 1.5;
	font-weight: 700;

}
.anim-block
{
	width: 100%;
	height: auto;
	position: absolute;
	z-index:-1;
	
}
.block-content
{
	opacity: 0.8;
	 background: rgb(255,255,255);
	background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(252,252,252,1) 50%, rgba(235,235,235,1) 75%, rgba(233,233,233,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(252,252,252,1) 50%, rgba(235,235,235,1) 75%, rgba(233,233,233,1) 100%);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(252,252,252,1) 50%, rgba(235,235,235,1) 75%, rgba(233,233,233,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e9e9e9",GradientType=1);  
	margin-top: 8.5%; padding: 1.5%;
	width: 100%;
	border: 3px solid black;
	
}
.org-img
{
	width: auto;
	height: 300px;
}
.socials
{
	width: auto;
	height: 50px;
}
.enquiries
{
	position: relative;
	margin-top: 5%;
}

.contact
{
	width: 50px;
	height: 50px;
}
.service-icons
{
	width: 64px;
	height: 64px;
}
.card
{
	position: relative;
	margin-top: 4%;
}
.card-img-top
{
	width: auto;
	height: auto;
}

#copyright
{
	background: rgb(255,242,202);
	background: -moz-linear-gradient(180deg, rgba(255,242,202,1) 0%, rgba(233,216,164,1) 25%, rgba(214,194,132,1) 50%, rgba(188,162,87,1) 75%, rgba(170,141,56,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(255,242,202,1) 0%, rgba(233,216,164,1) 25%, rgba(214,194,132,1) 50%, rgba(188,162,87,1) 75%, rgba(170,141,56,1) 100%);
	background: linear-gradient(180deg, rgba(255,242,202,1) 0%, rgba(233,216,164,1) 25%, rgba(214,194,132,1) 50%, rgba(188,162,87,1) 75%, rgba(170,141,56,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff2ca",endColorstr="#aa8d38",GradientType=1); 
	position: relative;
	text-align: center;
	margin-top: 5%;
	padding-top: 1.5%; padding-bottom: 1.5%; border: 2px solid black;
	
}

